.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto ;
}

.item {
    background-color: #cbcbcb;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.item-a { 
    background-color: #ff6b6b; 
    grid-column: 1 / 4;
    grid-row: 1;
}
.item-b { 
    background-color: #4ecdc4; 
    grid-column: 1 / 3;
    grid-row: 2;
}
.item-c { 
    background-color: #45b7d1; 
    grid-column: 1;
    grid-row: 3;
}
.item-d { 
    background-color: #96ceb4; 
    grid-column: 2;
    grid-row: 3;
}
.item-e { 
    background-color: #ffeaa7; 
    grid-column: 3;
    grid-row: 2 / 4;
}

@media (max-width: 768px) {
    .container {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto ;
    }

    .item-a { 
        background-color: #ff6b6b; 
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .item-b { 
        background-color: #4ecdc4; 
        grid-column: 1 / 3;
        grid-row: 2 / 2;
    }
    .item-c { 
        background-color: #45b7d1; 
        grid-column: 1;
        grid-row: 3;
    }
    .item-d { 
        background-color: #96ceb4; 
        grid-column: 2;
        grid-row: 3;
    }
    .item-e { 
        background-color: #ffeaa7; 
        grid-column: 1 / 3;
        grid-row: 4; 
    }
}