* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: rgb(66, 66, 66);
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
}

.logo {
    width: 50px;
    display: block;
}
.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: rgb(255, 252, 238);
}

.nav-list a:hover {
    background-color: rgb(182, 157, 127);
    transition: background .8s ease;
    color: rgb(133, 127, 102);
    transition: color .3s ease;;
}

.nav-btn {
    display: none;
}

@media(max-width: 768px) {
    .nav-list {
        display: none; 
    }
    
    .nav-btn {
        display: flex;
        padding: 12px;
        color: rgb(255, 252, 238);
        font-size: 1.5em;
        background: none;
        border: none;

        justify-content: center;
        align-items: center;

        padding-inline: 10px;
    }
    
    .nav-btn:hover {
        background-color: aqua;
        transition: background 1s ease;
        cursor: pointer;
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(66, 66, 66);
    }
}
