* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: rgb(66, 66, 66);
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
}

.logo {
    width: 50px;
    display: block;
}
.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: rgb(255, 252, 238);
}

.nav-list a:hover {
    background-color: rgb(98, 91, 84);
    transition: background .8s ease;
    color: rgb(255, 252, 238);
    transition: color .3s ease;;
}

.nav-btn {
    display: none;
}

@media(max-width: 768px) {
    .nav-list {
        display: none; 
    }
    
    .nav-btn {
        display: block;
        padding: 10px;
        color: rgb(255, 252, 238);
        font-size: 2.0em;
        background: none;
        align-items: center;
        border:rgb(25, 17, 17);
        padding-inline: 15px;
    }
    
    .nav-btn:hover {
        background-color: rgb(40, 43, 43);
        transition: background 1s ease;
        cursor: pointer;
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 0;
        background-color: rgb(66, 66, 66);
    }
}

.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1);
    background: linear-gradient(90deg, rgb(253, 255, 231), rgb(255, 186, 117), rgb(236, 182, 32) );
}