* {
    margin: 0;
    font-family: 'Paris2024', sans-serif;
}

header {
    background: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000; 
    font-weight: bold;
  
    cursor: pointer;
}

.logo img {
    width: 100px; 
    height: auto;
}

.hero {
    width: 100%;
    background: url('media/03-images/hero-lg.png') no-repeat center center;

    background-size: cover;
    color: white;
    
    padding: 100px 0;
    color: white;
    text-align: right;
  
}



.hero h1, .hero p {
    
}


@font-face {
    font-family: 'Paris2024';
    src: url('media/05-fonts/Paris2024/Paris2024-Variable.ttf');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: 'Paris2024', sans-serif;
}