@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 10px;
    font-family: 'Slabo 27px';
}

@font-face {
    font-family: 'Slabo 27px';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}