* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Paris2024';
    src: url('../media/fonts/Paris2024/Paris2024-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 430px) {
    body {
        font-family: 'Paris2024', Arial, sans-serif;

        background-image: url("../media/images/bg.png");  
        background-size: 110%;
        background-position: center top;
        background-repeat: no-repeat;   
        background-color: #f0f0f0; 
        
        color: #fff;
        margin: 0;
        padding: 0;
    }
    
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        

    }

    .item {
        margin-top: 30px;
    }

    .item img {
        max-width: 100%;
        height: auto;
    }

    .item-button {
        display: flex;
        flex-direction: row;        
        align-items: center;        
        justify-content: flex-start;
        gap: 10px;                  
        cursor: pointer;
        margin-top: 20px;

        padding: 0.5rem 1rem;      
        background-color: rgba(255, 255, 255, 0.3);

        border-radius: 17px;
        border: 2px solid #fff;

        transition: all 0.3s ease;  
    }

    .item-button:hover {
        background-color: rgba(255, 255, 255, 0.5);
        transform: scale(1.02); 
    }

    .item-button a {
        margin-right: 150px;
        
        text-decoration: none;
        color: #fff;
        
        font-size: 23px;
    }
}