.wrap { 
  counter-reset: total 0; /* total есептегішін 0-ден бастаймыз */
}

input[type="checkbox"] { 
    display: none;  /* checkbox-ты көрсетпейміз (жасырамыз) */
}

label.box { 
    display: inline-flex;
    justify-items: center;
    align-items: center;

    padding: 30px;
    border: 5px solid black;
}

/* Егер checkbox белгіленсе, фон алтын түске боялады және counter-ге қосамыз */
#c10:checked + label.box { background: gold; counter-increment: total 10; }
#c32:checked + label.box { background: gold; counter-increment: total 32; }
#c64:checked + label.box { background: gold; counter-increment: total 64; }
#cneg:checked + label.box { background: gold; counter-increment: total -15; }

/* Жалпы соманы көрсету үшін элемент */
.total span::before {
  content: counter(total);
}
