* {
    padding: 0;
    margin: 0;
    font-family: 'Paris2024', sans-serif;
}

header {
    padding: 0;
    background: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    transform: skew(-25deg);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
    padding: 10px 20px;
    font-size: 12px;
    text-decoration: none;
    color: #000; 
    font-weight: bold;
    cursor: pointer;
    transform: skew(25deg);
}

.logo img {
    width: 100px; 
    height: auto;
    margin: 0;
    transform: skew(25deg);
}

.hero {
    width: 100%;
    height: 500px;
    background: url('media/03-images/hero-lg.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 20px 0; 
    position: relative; 
}

.hero h1, .hero p {
    margin: 0;
    padding: 0;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
    right: 10px;
    position: absolute;
}

.hero p {
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    font-size: 40px;
    text-align: right;
    position: absolute;
    
    top: 80px; 
    right: 10px; 
}

.hero img {
    position: absolute;
    top: 140px;
    right: 20px; 
    max-height: 90px; 
    
}

.mascot img {
    position: absolute;
    top: 400px;
    left: 50px; 
    max-height: 200px; 

}

@font-face {
    font-family: 'Paris2024';
    src: url('media/05-fonts/Paris2024/Paris2024-Variable.ttf');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Paris2024', sans-serif;
}

.home p{
    margin-top: 20px;

    text-align: center;
    font-size: 60px;
    font-weight: bold;
        background-image: linear-gradient(to right, #007bff, #b300a7); 

.home img{
    position: absolute;
    top: 800px;
    left: 50px; 
    max-height: 200px;

}