.head {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../image/img/head-img.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 80px 20px;
    min-height: 600px;
    display: flex;
    align-items: center;
}

.head-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
}

.head-left h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.head-left p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.catalog-btn {
    display: inline-block;
    background-color: #ffa536;
    color: white;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.catalog-btn:hover {
    background-color: #e28615;
}

.head-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 400px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 15px;
}


.feature-item img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    filter: brightness(0) invert(1);
}

