.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    color: #fff;
}

.item {
    border: 5px solid black;
    border-radius: 10px;
    color: #000000;
    text-align: center;
    padding: 50px;
}

.item-a {
    grid-column: 1 / 4;
    grid-row: 1;
}


.item-b {
    grid-column: 1 / 3;
    grid-row: 2;
}
.item-c {
    grid-column: 1;
    grid-row: 3;
}
.item-d {
    grid-column: 2;
    grid-row: 3;
}

.item-e {
    grid-column: 3;
    grid-row: 2 / 4;
}

@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        color: #fff;
    }

    .item {
        border: 5px solid black;
        border-radius: 10px;
        color: #000000;
        text-align: center;
        padding: 50px;
    }

    .item-a {
        grid-column: 1 / 3;
        grid-row: 1;
    }


    .item-b {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .item-c {
        grid-column: 1;
        grid-row: 3;
    }
    .item-d {
        grid-column: 2;
        grid-row: 3;
    }

    .item-e {
        grid-column: 1 / 3;
        grid-row: 4;
    }

}
