* {
    background-color: black;
    color: #fff;
    font-weight: bold;
    
}
.container {
    display: flex;
    align-items: flex-end;
}

.item1 p {
    background-color: #1ab017;
    border-radius: 10px;
    color: #fff;
    padding: 30px;
}

.item2 p {
    background-color: #175eb0;
    border-radius: 10px;
    color: #fff;
    padding: 30px;
}
.item3 p {
    background-color: #d52432;
    border-radius: 10px;
    color: #fff;
    padding: 30px;
}

.item4 p {
    background-color: #b85e0a;
    border-radius: 10px;
    color: #fff;
    padding: 30px;
}

.item5 p {
    background-color: #24caf8;
    border-radius: 10px;
    color: #fff;
    padding: 30px;
}
.item6 p {
    background-color: #4e555a;
    border-radius: 10px;
    color: #fff;
    padding: 30px;
}